#header { 
	background:url(http://ofyt9w4c2.bkt.clouddn.com/avatar/051635f1613d48383e6gc17e629b565e4.jpg) no-repeat;background-position:top right;
	background-size:cover;
}

@import "_layout.styl";
@import "_logo.styl";
@import "_menu.styl";
@import "_search.styl";
@import "sidebar/sidebar-blogroll";
