#header { 
	background:url(http://ofyt9w4c2.bkt.clouddn.com/avatar/20191512062319231793.jpg) no-repeat;background-position:top right;
	background-size:cover;
}

@import "_layout.styl";
@import "_logo.styl";
@import "_menu.styl";
@import "_search.styl";
